<!DOCTYPE html>
<html lang="en" data-ng-app='ShoppingListCheckOff'>
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/style.css">
    <script src='scripts/angular.min.js'></script>
    <script src='scripts/app.js'></script>
  </head>
  <body>
    <div class="container">
      <h1>Shopping List Check Off</h1>

      <div class="row">
        <!-- To Buy List -->
        <div class="col-md-6" data-ng-controller='ToBuyShoppingController as toBuyCtrl'>
          <h2>To Buy:</h2>
          <ul>
            <li data-ng-repeat="item in toBuyCtrl.toBuyList">
              Buy {{ item.quantity }} {{ item.name }}
              <button class="btn btn-default" data-ng-click="toBuyCtrl.buyItem($index)">
                <span class="glyphicon glyphicon-ok"></span> Bought
              </button>
            </li>
          </ul>
          <div class="emptyMessage" data-ng-if="toBuyCtrl.hasItem()">Everything is bought!</div>
        </div>

        <!-- Already Bought List -->
        <div class="col-md-6" data-ng-controller='AlreadyBoughtShoppingController as alreadyBoughtCtrl'>
          <h2>Already Bought:</h2>
          <ul>
            <li data-ng-repeat="item in alreadyBoughtCtrl.alreadyBoughtList">
              Bought {{ item.quantity }} {{ item.name }}
            </li>
          </ul>
          <div class="emptyMessage" data-ng-if="alreadyBoughtCtrl.hasItem()">Nothing bought yet.</div>
        </div>
      </div>
    </div>
  </body>
</html>
