<div class="row">
	<div class="menu-item-tile col-md-6 blue">  

		<h2>User Entered Data</h2>

		  <div class="form-group">
		    <label for="firstname">First name: </label> {{$ctrl.userData.fname}}
		  </div>
		  <div class="form-group">
		    <label for="lastname">Last name: </label> {{$ctrl.userData.lname}}
		  </div>
		  <div class="form-group">
		    <label for="email">Email address: </label> {{$ctrl.userData.email}}
		  </div>
		  <div class="form-group">
		    <label for="phonenumber">Phone number: </label> {{$ctrl.userData.pnumber}}
		  </div>

	<div>
</div>