<div class="container">
  <fieldset>
    <legend>Sign Up Form</legend>
    <form novalidate name="signUpForm">
      <div class="form-group">
        <label>First Name:</label>
        <input class="form-control" name="firstName" type="text" ng-model="SignUpCtrl.user.firstName" required>
        <span ng-if="signUpForm.firstName.$error.required && signUpForm.firstName.$touched">
          *Please enter your name.
        </span>
      </div>
      <div class="form-group">
        <label>Last Name:</label>
        <input class="form-control" name="lastName" type="text" ng-model="SignUpCtrl.user.lastName" required>
        <span ng-if="signUpForm.lastName.$error.required && signUpForm.lastName.$touched">
          *Please enter your last name.
        </span>
      </div>
      <div class="form-group">
        <label>Email Address:</label>
        <input class="form-control" name="email" type="email" ng-model="SignUpCtrl.user.emailAddress" required>
        <span ng-if="signUpForm.email.$invalid && signUpForm.email.$touched">
          *Please enter a valid email address.
        </span>
      </div>
      <div class="form-group">
        <label>Phone Number:</label>
        <input class="form-control" name="phoneNumber" type="text" pattern="(\d{3})-(\d{3})-(\d{4})" placeholder="###-###-####" ng-model="SignUpCtrl.user.phoneNumber" required>
        <span ng-if="signUpForm.phoneNumber.$invalid && signUpForm.phoneNumber.$touched">
          *Please enter a valid phone number in the format ###-###-####.
        </span>
      </div>
      <div class="form-group">
        <label>Favorite Dish: (optional)</label>
        <input class="form-control" name="favorite" placeholder="e.g. A10" type="text" ng-model="SignUpCtrl.user.favorite" ng-model-options="{ updateOn: 'blur mousemove' }" db-check>
      </div>
      <span ng-show="signUpForm.favorite.$pending.favorite">Checking if item is available...</span>
      <div ng-show="signUpForm.favorite.$error.favorite" class="alert alert-danger" role="alert">No such menu number exists. Please try again.</div>

      <button class="btn btn-default" ng-disabled="signUpForm.$invalid" ng-click="SignUpCtrl.submit()">Submit</button><br>
      <div ng-if="SignUpCtrl.completed" class="alert alert-success" role="alert">Your information has been saved.</div>
    </form>
  </legend>
</div>
